*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    display: flex;
    margin:6px 0px 0px 30px;
}
li{
    display: inline;
    padding: 10px;
    color: lightsteelblue;
    font-weight: bold;
}
#imglog{
    width: 150px;
}
#navigation{
    margin: 20px 0px 0px 500px;
}
#active{
    color: #1A2F63;
    font-weight: bold;
}
#searchbox{
    height: 25px;
}
input::placeholder{
    font-weight: bold;
    color: lightsteelblue;
}
input{
    border: 1px solid lightgray;
}
input[type="Search"]{
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: lightgray;
}
#poemimg{
    width:50%;
    height: 450px;
}
#mainheading{
    text-align: center;
    padding: 30px;
    font-family: Courgette;
}
#poemimg{
    margin: auto;
    display: block;
}
#headingsecond{
    margin-left: 25%;
    margin-top: 30px;
    font-family: Courgette;
}
#poemslist{
    margin-left: 25%;
}
p{
    font-family: Courgette;
    font-size: 20px;
}
h2{
    font-family: Courgette;
}
#footer{
    background-color: #353B4A;
    display: flex;
    padding: 10px;
    margin-top: 40px;
}
#owenerimag{
    width: 250px;
    height:250px;
    margin-left: 60px;
    border-radius: 150px;
}
.orglist{
    display: block;
    color: white;
    margin-left: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}
.acedlist{
    display: block;
    color: white;
    margin-left: 90px;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}
#natiopoet{
    display: block;
    color: white;
    margin-left: 90px;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}
#wonerimag{
    margin-left: 90px;
    padding: 10px;
}
.heading{
    color: #173EA0;
}
/*----------SECOND FOOTER-------*/
#secondfooter{
    background-color: #353B4A;
    padding: 20px;
}
#insta{
    width: 40px;
    height: 40px;
}
#face{
    width: 40px;
    height: 40px;
}
#twit{
    width: 40px;
    height: 40px;
    border-radius: 200px;
}
.headings{
    color: #173EA0;
    margin-left: 9px;
    padding: 10px;
}
#lastfooter{
    background-color: #5E7BC3;
    height: 50px;
}
h3{
    color:white;
    text-align: center;
    padding-top: 15px;
}