*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    display: flex;
    margin:6px 0px 0px 30px;
}
li{
    display: inline;
    padding: 10px;
    color: lightsteelblue;
    font-weight: bold;
}
#imglog{
    width: 150px;
}
#navigation{
    margin: 20px 0px 0px 500px;
}
#active{
    color: #1A2F63;
    font-weight: bold;
}
#searchbox{
    height: 25px;
}
input::placeholder{
    font-weight: bold;
    color: lightsteelblue;
}
input{
    border: 1px solid lightgray;
}
input[type="Search"]{
    padding-left: 20px;
}
h3{
    font-family: Courgette;
}
#story1{
    display: flex;
    margin-left: 4%;
}
h3{
    margin: 30px;
    text-align: center;
    letter-spacing: 6px;
}
#stroy1description{
    width: 40%;
    margin-left: 80px;
}
#story1heading{
    padding: 20px;
    margin-left: 40px;
}
p{
    font-size: 24px;
    font-family: Courgette;
}
#story2{
    width: 600px;
    height: 550px;
    margin-left: 4%;
    margin-top: 10px;
}
#story2main{
    display: flex;
    margin-left: 4%;
    margin-top: 60px;
}
#story3{
    width: 600px;
    height: 740px;
    margin-left: 4%;
    margin-top: 10px;
}
#story3main{
    display: flex;
    margin-left: 4%;
    margin-top: 60px;
}
#story4{
    width: 600px;
    height: 400px;
    margin-left: 4%;
    margin-top: 10px;
}
#story4main{
    display: flex;
    margin-left: 4%;
    margin-top: 60px;
}
#story5{
    width: 600px;
    height: 500px;
    margin-left: 4%;
    margin-top: 10px;
}
#story5main{
    display: flex;
    margin-left: 4%;
    margin-top: 60px;
}
/*footer*/
#footer{
    background-color: #353B4A;
    display: flex;
    padding: 10px;
    margin-top: 40px;
}
#owenerimag{
    width: 250px;
    height:250px;
    margin-left: 60px;
    border-radius: 150px;
}
.orglist{
    display: block;
    color: white;
    margin-left: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}
.acedlist{
    display: block;
    color: white;
    margin-left: 90px;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}
#natiopoet{
    display: block;
    color: white;
    margin-left: 90px;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}
#wonerimag{
    margin-left: 90px;
    padding: 10px;
}
.heading{
    color: #173EA0;
}
/*----------SECOND FOOTER-------*/
#secondfooter{
    background-color: #353B4A;
    padding: 20px;
}
#insta{
    width: 40px;
    height: 40px;
}
a{
    text-decoration: none;
    color: lightgray;
}
#face{
    width: 40px;
    height: 40px;
}
#twit{
    width: 40px;
    height: 40px;
    border-radius: 200px;
}
.headings{
    color: #173EA0;
    margin-left: 9px;
    padding: 10px;
}
#lastfooter{
    background-color: #5E7BC3;
    height: 50px;
}
h4{
    color:white;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}